@import "normalize.css";
html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  background: #000;
  font-family: "Calibri", Arial, sans-serif;
}
.page-container {
  height: 100%;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
}
.page-container h1 {
  color: #fff;
  text-transform: uppercase;
  font-family: "Norwester", "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 40px;
}
.page-container span {
  color: #fff;
  text-transform: uppercase;
  font-family: "purista-web", sans-serif;
  margin: 0;
  visibility: hidden;
}
.container {
  height: 50%;
  width: 50%;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  position: relative;
  overflow: visible;
}
.container .button-cont {
  padding: 1px;
}
.container .button-cont button {
  background: #000;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  height: 40px;
  line-height: 38px;
  font-size: 19px;
  width: 300px;
  padding: 0;
  vertical-align: middle;
  font-family: "purista-web", sans-serif;
  font-weight: 400;
  color: #f90;
  border: 1px solid #f90;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9InJnYig3LCA3LCA3KSIgc3RvcC1vcGFjaXR5PSIwLjYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9InJnYig3LCA3LCA3KSIgc3RvcC1vcGFjaXR5PSIwLjMiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjbGVzc2hhdC1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
  background-image: -webkit-linear-gradient(top, rgba(7, 7, 7, 0.6) 0%, rgba(7, 7, 7, 0.3) 100%);
  background-image: -moz-linear-gradient(top, rgba(7, 7, 7, 0.6) 0%, rgba(7, 7, 7, 0.3) 100%);
  background-image: -o-linear-gradient(top, rgba(7, 7, 7, 0.6) 0%, rgba(7, 7, 7, 0.3) 100%);
  background-image: linear-gradient(to bottom, rgba(7, 7, 7, 0.6) 0%, rgba(7, 7, 7, 0.3) 100%);
}
.container .button-cont button:hover {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9InJnYigyMCwgMjAsIDIwKSIgc3RvcC1vcGFjaXR5PSIwLjYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9InJnYig3MSwgNzEsIDcxKSIgc3RvcC1vcGFjaXR5PSIwLjgiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjbGVzc2hhdC1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
  background-image: -webkit-linear-gradient(top, rgba(20, 20, 20, 0.6) 0%, rgba(71, 71, 71, 0.8) 100%);
  background-image: -moz-linear-gradient(top, rgba(20, 20, 20, 0.6) 0%, rgba(71, 71, 71, 0.8) 100%);
  background-image: -o-linear-gradient(top, rgba(20, 20, 20, 0.6) 0%, rgba(71, 71, 71, 0.8) 100%);
  background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0.6) 0%, rgba(71, 71, 71, 0.8) 100%);
  text-shadow: 0 0 0.5em rgba(255, 194, 102, 0.8);
}
.container .button-cont button:focus {
  outline: none;
}
.bf4-crash {
  display: none;
  position: absolute;
  width: 366px;
  height: 186px;
  background: #ebebeb;
  top: 50%;
  left: 50%;
  margin-top: -63px;
  margin-left: -183px;
  -webkit-box-shadow: 0px 0px 2px #eeeeee;
  -moz-box-shadow: 0px 0px 2px #eeeeee;
  box-shadow: 0px 0px 2px #eeeeee;
}
.bf4-crash header {
  padding: 0 10px;
}
.bf4-crash header h2 {
  margin: 0;
  font-size: 15px;
  color: #000;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}
.bf4-crash header .exit {
  position: absolute;
  right: 6px;
  top: 0;
  background: #c75050;
  width: 31px;
  height: 20px;
  text-align: center;
  color: #fff;
  font-size: 10px;
  line-height: 20px;
}
.bf4-crash header .exit:hover {
  background: #e04343;
}
.bf4-crash header .exit:active {
  background: #993d3d;
  outline: 0;
}
.bf4-crash header .exit:focus {
  outline: 0;
}
.bf4-crash article {
  background: #fff;
  position: absolute;
  bottom: 6px;
  left: 6px;
  right: 6px;
  top: 30px;
  border: 1px solid #d6d6d6;
}
.bf4-crash article h3 {
  margin: 0;
  padding: 15px 10px;
  font-size: 14px;
  font-weight: 300;
  color: #005ace;
}
.bf4-crash article p {
  margin: 0;
  padding: 0 10px;
  font-size: 13px;
  color: #000;
}
.bf4-crash footer {
  background: #f0f0f0;
  bottom: 0px;
  left: 0;
  right: 0;
  position: absolute;
  height: 40px;
}
.bf4-crash footer button {
  background: #e9e9e9;
  width: 106px;
  height: 19px;
  border: 1px solid #3399ff;
  text-align: center;
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 0;
  font-size: 11px;
  cursor: default;
}
.bf4-crash footer button:hover {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlY2Y0ZmMiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RjZWNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #ecf4fc 0%, #dcecfc 100%);
  background-image: -moz-linear-gradient(top, #ecf4fc 0%, #dcecfc 100%);
  background-image: -o-linear-gradient(top, #ecf4fc 0%, #dcecfc 100%);
  background-image: linear-gradient(to bottom, #ecf4fc 0%, #dcecfc 100%);
}
.bf4-crash footer button:active {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNkYWVjZmMiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M0ZTBmYyIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #daecfc 0%, #c4e0fc 100%);
  background-image: -moz-linear-gradient(top, #daecfc 0%, #c4e0fc 100%);
  background-image: -o-linear-gradient(top, #daecfc 0%, #c4e0fc 100%);
  background-image: linear-gradient(to bottom, #daecfc 0%, #c4e0fc 100%);
  outline: 0;
}
.bf4-crash footer button:focus {
  outline: 0;
}
@font-face {
  font-family: 'Norwester';
  src: url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/norwester/norwester.eot?#iefix') format('embedded-opentype'), url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/norwester/norwester.woff') format('woff'), url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/norwester/norwester.ttf') format('truetype'), url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/norwester/norwester.svg#norwester') format('svg');
}
@font-face {
  font-family: 'MavenProLight';
  src: url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/mavenprolight/MavenProLight-100.eot?#iefix') format('embedded-opentype'), url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/mavenprolight/MavenProLight-100.woff') format('woff'), url('fonts/mavenprolight/MavenProLight-100.ttf') format('truetype'), url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/mavenprolight/MavenProLight-100.svg#mavenprolight') format('svg');
  font-weight: 100;
}
@font-face {
  font-family: 'MavenProLight';
  src: url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/mavenprolight/MavenProLight-200.eot?#iefix') format('embedded-opentype'), url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/mavenprolight/MavenProLight-200.woff') format('woff'), url('fonts/mavenprolight/MavenProLight-200.ttf') format('truetype'), url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/mavenprolight/MavenProLight-200.svg#mavenprolight') format('svg');
  font-weight: 200;
}
@font-face {
  font-family: 'MavenProLight';
  src: url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/mavenprolight/MavenProLight-300.eot?#iefix') format('embedded-opentype'), url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/mavenprolight/MavenProLight-300.woff') format('woff'), url('fonts/mavenprolight/MavenProLight-300.ttf') format('truetype'), url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/mavenprolight/MavenProLight-300.svg#mavenprolight') format('svg');
  font-weight: 300;
}
