@import "normalize.css";
@import "lesshat";


@NorwesterStack: "Norwester", "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@OpenSansStack: "Open Sans", sans-serif;
@MavenProLightStack: "MavenProLight", "Helvetica Neue", Helvetica, Arial, sans-serif;

@headerBorder: 1px solid rgba(38,38,38,1);

@blueGlowStack: 0px 0px 6px rgba(92, 188, 238, 0.8),0px 0px 5px rgba(92, 188, 238, 0.9),0px 0px 5px rgba(92, 188, 238, 0.7);
@blueGlowStackLite: 0px 0px 6px rgba(92, 188, 238, 0.8);
@redGlowStack:  0px 0px 6px rgba(231, 76, 60, 0.8),0px 0px 5px rgba(231, 76, 60, 0.9),0px 0px 5px rgba(231, 76, 60, 0.7);

html, body {
    height: 100%;
}
body {
    margin: 0;
    background:#000;
    font-family:"Calibri", Arial, sans-serif;
}


.page-container {
	height:100%;
	.align-items(center);
    .justify-content(center);
    .display(flex);
	display: -webkit-box;
	display: -webkit-flex;
}
.container {
	height:50%;
	width:50%;

	.align-items(center);
	.justify-content(center);
	.display(flex);
	display: -webkit-box;
	display: -webkit-flex;

	position:relative;
	overflow:visible;
    .button-cont {
    	padding:1px;

    	button {
			background:#000;
			margin: 0;
			text-align: center;
			text-transform: uppercase;
			height: 40px;
			line-height: 38px;
			font-size: 19px;
			width:300px;
			padding:0;
			vertical-align: middle;
			font-family:@OpenSansStack;
			font-weight: 400;
			color: #f90;
			border: 1px solid #f90;
			.box-sizing(border-box);
			.background-image(linear-gradient(top, rgba(7,7,7,0.6) 0%,rgba(7,7,7,0.3) 100%));
			&:hover {
				.background-image(linear-gradient(top, rgba(20,20,20,0.6) 0%,rgba(71,71,71,0.8) 100%));
				text-shadow: 0 0 0.5em rgba(255,194,102,0.8);
			}
			&:focus {
				outline:none;
			}
		}
    }
}


.bf4-crash-display {

}
.bf4-crash {
	position:absolute;
	width:365px;
	height:180px;
	background:rgba(255, 255, 255, 0.9);
	.border-radius(7px);
	.box-shadow(0 0 10px 2px #000);
	display:none;
	top:50%;
	left:50%;
	margin-top:-60px;
	margin-left:-182px;
	header {
		padding:0 10px;
		h2 {
			margin:0;
			display:inline-block;
			font-size:11px;
			line-height:26px;
			font-weight:600;
			padding:0px 2px;
		}
		.exit {
			float:right;
			background:#c7563c;
			width:40px;
			text-align:center;
			color:#fff;
			font-size:15px;
			line-height:20px;
			border:1px solid #4d322d;
			border-top:0;
			.border-radius(0 0 6px 6px);
		}
	}
	article {
		background:#fff;
		position:absolute;
		bottom:10px;
		left:10px;
		right:10px;
		top:26px;
		border:1px solid #4e5052;
		outline:1px solid #d0d2d5;
		h3 {
			margin:0;
			padding:15px 10px;
			font-size:14px;
			font-weight:300;
			color:#005ace;
		}
		p {
			margin:0;
			padding:0 10px;
			font-size:13px;
			color:#000;
		}
	}
	footer {
		background:#f0f0f0;
		bottom:0px;
		left:0;
		right:0;
		position:absolute;
		height:40px;
	}
}

// Fonts

@font-face {
    font-family: 'Norwester';
    src: url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/norwester/norwester.eot?#iefix') format('embedded-opentype'), 
    url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/norwester/norwester.woff') format('woff'), 
    url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/norwester/norwester.ttf') format('truetype'), 
    url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/norwester/norwester.svg#norwester') format('svg');
}

@font-face {
    font-family: 'MavenProLight';
    src: url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/mavenprolight/MavenProLight-100.eot?#iefix') format('embedded-opentype'), 
    url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/mavenprolight/MavenProLight-100.woff') format('woff'), url('fonts/mavenprolight/MavenProLight-100.ttf') format('truetype'), 
    url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/mavenprolight/MavenProLight-100.svg#mavenprolight') format('svg');
    font-weight: 100;
}

@font-face {
    font-family: 'MavenProLight';
    src: url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/mavenprolight/MavenProLight-200.eot?#iefix') format('embedded-opentype'), 
    url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/mavenprolight/MavenProLight-200.woff') format('woff'), url('fonts/mavenprolight/MavenProLight-200.ttf') format('truetype'), 
    url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/mavenprolight/MavenProLight-200.svg#mavenprolight') format('svg');
    font-weight: 200;
}

@font-face {
    font-family: 'MavenProLight';
    src: url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/mavenprolight/MavenProLight-300.eot?#iefix') format('embedded-opentype'), 
    url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/mavenprolight/MavenProLight-300.woff') format('woff'), url('fonts/mavenprolight/MavenProLight-300.ttf') format('truetype'), 
    url('http://battlefieldo.com/assets/themes/battlefieldo/fonts/mavenprolight/MavenProLight-300.svg#mavenprolight') format('svg');
    font-weight: 300;
}
